body {
    background-color: #221d23;
}

div {
    color: #d1603d;
    font-size: x-large;
}

#gameContainer {
    /* background-color: #D1603D; */
    background-color: #221d23;
    line-height: 12px;
    width: 480px;
    height: 480px;
    padding: 20px;
}

.row {
    width: 100%;
}

.square {
    float: left;
    width: 60px;
    height: 60px;
}

.square:hover {
    cursor: pointer;
    opacity: 0.8;
}

.circle {
    border-radius: 50%;
    width: 95%;
    height: 95%;
    margin: 3%;
    color: cyan;
    text-align: center;
    line-height: 56px;
}

#startGame {
    width: 120px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    background-color: whitesmoke;
    color: #221d23;
}

#startGame:hover {
    cursor: pointer;
    background-color: #d1603d;
}
