<!DOCTYPE html>
<html ng-app="checkersNG">
<!-- <html> -->

<head>
	<title>checkersNG</title>
	<link rel="stylesheet" type="text/css" href="css/checkersNG.css" />
</head>

<body ng-controller="checkersController">
	<div id="gameContainer">
		<div class="row" ng-repeat="row in board">
			<div class="square" ng-style="setClass(square)" ng-repeat="square in row track by $index"
				ng-click="select(square)">
				<div ng-style="setStyling(square)" class="circle"></div>
			</div>
		</div>
	</div>

	<div class="textDisplay">
		<div>Player Turn : {{playerturn}}</div>
		<div>White Score : {{scoreP1}}</div>
		<div>Black Score : {{scoreP2}}</div>
	</div>


	<div class="btn-container">
		<button type="button" ng-click="resetChoice()" class="btn btn-custom">Reset Piece Selection</button>
	</div>

	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="js/checkersNG.js"></script>
</body>

</html>